<section class="manage-place">
    <div class="container manage-place__container">
        <h2 class="manage-place__title">Розкішне місце з управління та планування послуг</h2>
        <div class="manage-place__div">
            <p class="manage-place__article">Пропонуємо рішення під ключ. Обслуговування країн по всьому світу.</p>
        </div>       
        <div class="manage-place__event">
            <span class="manage-place__span">100+</span>
            <p class="manage-place__text">Заходів</p>
        </div>
        <div class="manage-place__continents">
            <span class="manage-place__span">5</span>
            <p class="manage-place__text">Континентів</p>
        </div>
    </div>
</section>