<section class="team">
    <div class="container team__container">
        <div class="team__box">
            <h2>Наша команда</h2>
            <div></div>
        </div>
        <ul class="team__list">
            <li class="team__item">
                <picture>
                    <source
                      srcset="
                        ./img/desktop/about-page/aivi@desktop1x.webp 1x,
                        ./img/desktop/about-page/aivi@desktop2x.webp 2x,
                      "
                      media="(min-width: 1360px)"
                    />
                    <source
                    srcset="
                    ./img/desktop/about-page/aivi@desktop1x.webp 1x,
                    ./img/desktop/about-page/aivi@desktop2x.webp 2x,
                    "
                    media="(min-width: 768px)"
                  />
                    <source
                      srcset="
                      ./img/desktop/about-page/aivi@desktop1x.webp 1x,
                      ./img/desktop/about-page/aivi@desktop1x.webp 2x,
                      "
                      media="(min-width: 320px)"
                    />
                    <img class="team__image" src="./img/desktop/about-page/aivi@desktop1x.webp" alt="aivi" />
                </picture>
                <div class="team__div">
                    <h3 class="team__blue">Айві К. Пендлтон</h3>
                    <h3 class="team__yellow">Головний планувальник</h3>
                    <p>Айві Пендлтон — креативний директор і головний планувальник. Во...</p>
                    <button type="button">Детальніше</button>
                    <h3 style="margin-bottom: 4px;margin-top: 16px;" class="team__blue-desktop">Айві К. Пендлтон</h3>
                    <h3 class="team__blue-desktop">Головний планувальник</h3>
                </div>
            </li>
            <li class="team__item">
                <picture>
                    <source
                      srcset="
                        ./img/desktop/about-page/kommariya@desktop1x.webp 1x,
                        ./img/desktop/about-page/kommariya@desktop2x.webp 2x,
                      "
                      media="(min-width: 1360px)"
                    />
                    <source
                    srcset="
                    ./img/desktop/about-page/kommariya@desktop1x.webp 1x,
                    ./img/desktop/about-page/kommariya@desktop2x.webp 2x,
                    "
                    media="(min-width: 768px)"
                  />
                    <source
                      srcset="
                      ./img/desktop/about-page/kommariya@desktop1x.webp 1x,
                      ./img/desktop/about-page/kommariya@desktop2x.webp 2x,
                      "
                      media="(min-width: 320px)"
                    />
                    <img class="team__image" src="./img/desktop/about-page/kommariya@desktop1x.webp" alt="kommariya" />
                </picture>
                <div class="team__div">
                    <h3 class="team__blue">Камарія Салау</h3>
                    <h3 class="team__yellow">Спеціаліст з логістики</h3>
                    <p>Камарія Салау є старшим спеціалістом з логістики в CBD. Вона тісно співпрацю...</p>
                    <button type="button">Детальніше</button>
                    <h3 style="margin-bottom: 4px;margin-top: 16px;" class="team__blue-desktop">Камарія Салау</h3>
                    <h3 class="team__blue-desktop">Спеціаліст з логістики</h3>
                </div>
            </li>
            <li class="team__item">
                <picture>
                    <source
                      srcset="
                        ./img/desktop/about-page/michael@desktop1x.webp 1x,
                        ./img/desktop/about-page/michael@desktop2x.webp 2x,
                      "
                      media="(min-width: 1360px)"
                    />
                    <source
                    srcset="
                    ./img/desktop/about-page/michael@desktop1x.webp 1x,
                    ./img/desktop/about-page/michael@desktop2x.webp 2x,
                    "
                    media="(min-width: 768px)"
                  />
                    <source
                      srcset="
                    ./img/desktop/about-page/michael@desktop1x.webp 1x,
                    ./img/desktop/about-page/michael@desktop2x.webp 2x,
                      "
                      media="(min-width: 320px)"
                    />
                    <img class="team__image" src="./img/desktop/about-page/michael@desktop1x.webp" alt="kommariya" />
                </picture>
                <div class="team__div">
                    <h3 class="team__blue">Майкл Дюбуа</h3>
                    <h3 class="team__yellow">Спеціаліст з логістики</h3>
                    <p>Майкл — досвідчений фахівець з логістики, який працює в CBD з 2007 року...</p>
                    <button type="button">Детальніше</button>
                    <h3 style="margin-bottom: 4px;margin-top: 16px;" class="team__blue-desktop">Майкл Дюбуа</h3>
                    <h3 class="team__blue-desktop">Спеціаліст з логістики</h3>
                </div>
            </li>
            <li class="team__item">
                <picture>
                    <source
                      srcset="
                        ./img/desktop/about-page/gregori@desktop1x.webp 1x,
                        ./img/desktop/about-page/gregori@desktop2x.webp 2x,
                      "
                      media="(min-width: 1360px)"
                    />
                    <source
                    srcset="
                    ./img/desktop/about-page/gregori@desktop1x.webp 1x,
                    ./img/desktop/about-page/gregori@desktop2x.webp 2x,
                    "
                    media="(min-width: 768px)"
                  />
                    <source
                      srcset="
                      ./img/desktop/about-page/gregori@desktop1x.webp 1x,
                      ./img/desktop/about-page/gregori@desktop2x.webp 2x,
                      "
                      media="(min-width: 320px)"
                    />
                    <img class="team__image" class="team__image" src="./img/desktop/about-page/gregori@desktop1x.webp" alt="gregory" />
                </picture>
                <div class="team__div">
                    <h3 class="team__blue">Грегорі Блейкі</h3>
                    <h3 class="team__yellow">Офіційний фотограф</h3>
                    <p>Грегорі Блейкі — найкращий фотограф у Вашингтоні, округ Колумбія...</p>
                    <button type="button">Детальніше</button>
                    <h3 style="margin-bottom: 4px;margin-top: 16px;" class="team__blue-desktop">Грегорі Блейкі</h3>
                    <h3 class="team__blue-desktop">Офіційний фотограф</h3>
                </div>
            </li>
            <li class="team__item">
                <picture>
                    <source
                      srcset="
                        ./img/desktop/about-page/levi@desktop1x.webp 1x,
                        ./img/desktop/about-page/levi@desktop2x.webp 2x,
                      "
                      media="(min-width: 1360px)"
                    />
                    <source
                    srcset="
                     ./img/desktop/about-page/levi@desktop1x.webp 1x,
                     ./img/desktop/about-page/levi@desktop2x.webp 2x,
                    "
                    media="(min-width: 768px)"
                  />
                    <source
                      srcset="
                      ./img/desktop/about-page/levi@desktop1x.webp 1x,
                      ./img/desktop/about-page/levi@desktop2x.webp 2x,
                      "
                      media="(min-width: 320px)"
                    />
                    <img class="team__image" class="team__image" src="./img/desktop/about-page/levi@desktop1x.webp" alt="levi" />
                </picture>
                <div class="team__div">
                    <h3 class="team__blue">Маршалл Леві</h3>
                    <h3 class="team__yellow">Головний відеооператор</h3>
                    <p>Ми працюємо виключно з лауреатом нагород оператором Маршаллом Л...</p>
                    <button type="button">Детальніше</button>
                    <h3 style="margin-bottom: 4px;margin-top: 16px;" class="team__blue-desktop">Маршалл Леві</h3>
                    <h3 class="team__blue-desktop">Головний відеооператор</h3>
                </div>
            </li>
        </ul>
    </div>
</section>