<section class="reviews">
  <div class="container reviews__container">
    <h2 class="reviews__title">Відгуки</h2>
    <ul class="reviews__list">
      <li class="reviews__item">
        <div class="reviews__img-div">
          <picture>
            <source
              srcset="
                ./img/desktop/about-page/malam@desktop1x.webp 1x,
                ./img/desktop/about-page/malam@desktop2x.webp 2x
              "
              media="(min-width: 1360px)"
            />
            <source
              srcset="
                ./img/tablet/about-page/malam@tablet1x.webp 1x,
                ./img/tablet/about-page/malam@tablet2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/mobile/about-page/malam@mobile1x.webp 1x,
                ./img/mobile/about-page/malam@mobile2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="reviews__image"
              src="./img/mobile/about-page/malam@mobile1x.webp"
              alt="malam image"
            />
          </picture>
        </div>
        <div class="reviews__text-div">
          <p class="reviews__article">
            Команда виконала фантастичну роботу для приватного сектору Світового
            банку семінари з розвитку консолідації центрального банку. Ми в
            Африці, тому ми могли довірити їм усі деталі.
          </p>
          <p class="reviews__text">
            Маллам Санусі Ламідо Санусі, губернатор Центрального банку Нігерії
          </p>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__text-div">
          <p class="reviews__article">
            Айві займалася зв'язками з громадськістю та комунікаціями для
            історичного Sojourner Truth Unveiling з першою леді Мішель Обамою.
            Вона та її команда надзвичайно вразили.
          </p>
          <p class="reviews__text">
            Д-р Е. Фей Вільямс, Національний голова NCBW
          </p>
        </div>
        <div class="reviews__img-div">
          <picture>
            <source
              srcset="
                ./img/desktop/about-page/fey@desktop1x.webp 1x,
                ./img/desktop/about-page/fey@desktop2x.webp 2x
              "
              media="(min-width: 1360px)"
            />
            <source
              srcset="
                ./img/tablet/about-page/fey@tablet1x.webp 1x,
                ./img/tablet/about-page/fey@tablet2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/mobile/about-page/fey@mobile1x.webp 1x,
                ./img/mobile/about-page/fey@mobile2x.webp 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="reviews__image"
              src="./img/mobile/about-page/fey@mobile1x.webp"
              alt="fey image"
            />
          </picture>
        </div>
      </li>
    </ul>
    <button type="button" class="reviews__button">Детальніше</button>
  </div>
</section>
