<section class="selection">
    <div class="container selection__container">
        <div class="selection__box">
            <div class="selection__line"><div></div></div>
            <h2 class="selection__title">Вибір сервісу</h2>
        </div>
        <ul class="selection__list">
            <li class="selection__item">
                <div class="selection__div1">
                    <picture class="selection__picture1">
                        <source
                          srcset="
                            ./img/desktop/about-page/thuyen-vu@desktop1x.webp 1x,
                            ./img/desktop/about-page/thuyen-vu@desktop2x.webp 2x,
                          "
                          media="(min-width: 1360px)"
                        />
                        <source
                        srcset="
                          ./img/tablet/about-page/thuyen-vu@tablet1x.webp 1x,
                          ./img/tablet/about-page/thuyen-vu@tablet2x.webp 2x,
                        "
                        media="(min-width: 768px)"
                      />
                        <source
                          srcset="
                          ./img/mobile/about-page/thuyen-vu@mobile1x.webp 1x,
                          ./img/mobile/about-page/thuyen-vu@mobile2x.webp 2x,
                          "
                          media="(min-width: 320px)"
                        />
                        <img class="selection__image" src="./img/mobile/about-page/thuyen-vu@mobile1x.webp" alt="thuyen vu" />
                      </picture>
                        <picture class="selection__picture2">
                            <source
                              srcset="
                                ./img/desktop/about-page/hanna-auramenka@desktop1x.webp 1x,
                                ./img/desktop/about-page/hanna-auramenka@desktop2x.webp 2x,
                              "
                              media="(min-width: 1360px)"
                            />
                            <source
                            srcset="
                              ./img/tablet/about-page/hanna-auramenka@tablet1x.webp 1x,
                              ./img/tablet/about-page/hanna-auramenka@tablet2x.webp 2x,
                            "
                            media="(min-width: 768px)"
                          />
                            <source
                              srcset="
                              ./img/mobile/about-page/hanna-auramenka@mobile1x.webp 1x,
                              ./img/mobile/about-page/hanna-auramenka@mobile2x.webp 2x,
                              "
                              media="(min-width: 320px)"
                            />
                            <img style="overflow: hidden;" class="selection__image" src="./img/mobile/about-page/hanna-auramenka@mobile1x.webp" alt="hanna-auramenka" />
                          </picture>
                </div>
                <div class="selection__div2">
                    <h3>Спеціальне меню</h3>
                    <p style="margin-bottom: 8px;">Приватний обід для невеликих зустрічей</p>
                    <p style="margin-bottom: 8px;">Параметри спеціального меню</p>
                    <p style="margin-bottom: 8px;">Декор подій</p>
                    <p style="margin-bottom: 8px;">Звук і освітлення</p>
                </div>
            </li>
            <li class="selection__item">
                <div class="selection__div2">
                    <h3>Логістика та попередня реєстрація</h3>
                    <p style="margin-bottom: 8px;">Внутрішні сертифіковані маркетологи</p>
                    <p style="margin-bottom: 8px;">Новітні технології на місці</p>
                    <p style="margin-bottom: 8px;">Повні послуги з керування даними</p>
                    <p style="margin-bottom: 8px;">Надійні постачальники</p>
                </div>
                <div class="selection__div1">
                    <picture>
                        <source
                          srcset="
                            ./img/desktop/about-page/arthouse-studio@desktop1x.webp 1x,
                            ./img/desktop/about-page/arthouse-studio@desktop2x.webp 2x,
                          "
                          media="(min-width: 1360px)"
                        />
                        <source
                        srcset="
                          ./img/tablet/about-page/arthouse-studio@tablet1x.webp 1x,
                          ./img/tablet/about-page/arthouse-studio@tablet2x.webp 2x,
                        "
                        media="(min-width: 768px)"
                      />
                        <source
                          srcset="
                          ./img/mobile/about-page/arthouse-studio@mobile1x.webp 1x,
                          ./img/mobile/about-page/arthouse-studio@mobile2x.webp 2x,
                          "
                          media="(min-width: 320px)"
                        />
                        <img class="selection__image" src="./img/mobile/about-page/arthouse-studio@mobile1x.webp" alt="arthouse studio" />
                      </picture>
                </div>
            </li>
            <li id="selection" class="selection__item">
                <div id="selectionDiv1" class="selection__div1">
                    <picture class="selection__picture1">
                        <source
                          srcset="
                            ./img/desktop/about-page/hanna-auramenka@desktop1x.webp 1x,
                            ./img/desktop/about-page/hanna-auramenka@desktop2x.webp 2x,
                          "
                          media="(min-width: 1360px)"
                        />
                        <source
                        srcset="
                          ./img/tablet/about-page/hanna-auramenka@tablet1x.webp 1x,
                          ./img/tablet/about-page/hanna-auramenka@tablet2x.webp 2x,
                        "
                        media="(min-width: 768px)"
                      />
                        <source
                          srcset="
                          ./img/mobile/about-page/hanna-auramenka@mobile1x.webp 1x,
                          ./img/mobile/about-page/hanna-auramenka@mobile2x.webp 2x,
                          "
                          media="(min-width: 320px)"
                        />
                        <img style="overflow: hidden;" class="selection__image" src="./img/mobile/about-page/hanna-auramenka@mobile1x.webp" alt="hanna-auramenka" />
                      </picture>
                      <picture id="selectionImage" class="selection__picture2">
                        <source
                          srcset="
                            ./img/desktop/about-page/thuyen-vu@desktop1x.webp 1x,
                            ./img/desktop/about-page/thuyen-vu@desktop2x.webp 2x,
                          "
                          media="(min-width: 1360px)"
                        />
                        <source
                        srcset="
                          ./img/tablet/about-page/thuyen-vu@tablet1x.webp 1x,
                          ./img/tablet/about-page/thuyen-vu@tablet2x.webp 2x,
                        "
                        media="(min-width: 768px)"
                      />
                        <source
                          srcset="
                          ./img/mobile/about-page/thuyen-vu@mobile1x.webp 1x,
                          ./img/mobile/about-page/thuyen-vu@mobile2x.webp 2x,
                          "
                          media="(min-width: 320px)"
                        />
                        <img style="overflow: hidden;" class="selection__image" src="./img/mobile/about-page/thuyen-vu@mobile1x.webp" alt="thuyen-vu" />
                      </picture>
                </div>
                <div class="selection__div2">
                    <h3>Управління зустріччю</h3>
                    <p style="margin-bottom: 8px;">Управління зустріччю</p>
                    <p style="margin-bottom: 8px;">Вибір місця та укладення договору</p>
                    <p style="margin-bottom: 8px;">Зелені зустрічі</p>
                    <p style="margin-bottom: 8px;">Конференції та управління виставками</p>
                </div>
            </li>
        </ul>
    </div>
</section>