<section class="turnkey">
    <div class="container turnkey__container">
        <div class="turnkey__box">
            <h2 class="turnkey__title">Рішення під ключ:<br>Події, якими ми керуємо</h2>
            <div class="turnkey__line"><div></div></div>
        </div>
        <div class="turnkey__div">
            <div class="turnkey__div1">
                <p>Ми плануємо заходи у Вашингтоні, округ Колумбія,
                    на національному рівні, на Багамах і для наших 
                    міжнародних партнерів.<br><br>Наш готовий підхід до вражаючих 
                    заходів є неперевершеним. Ми наймаємо графічних дизайнерів, 
                    менеджерів з логістики, Фахівці зі зв’язків з громадськістю 
                    та мають власний залік і компонент цифрового друку.<br><br>У нас 
                    є плани поверхів і характеристики майже кожного приміщення,
                    конференц-центр і приміщення для зустрічей у Вашингтоні, 
                    округ Колумбія столична область і чудові відносиниз нашими
                    сторонніми постачальниками. Ми також пропонуємо 
                    послуги перекладу іспанською, португальською,
                    французькою та німецькою мовами.
                </p>
            </div>
            <div class="turnkey__div2">
                <div class="turnkey__text-div">
                    <p class="turnkey__div2-text">Радники з протоколу</p>
                    <p class="turnkey__div2-text">Послуги перекладу</p>
                    <p class="turnkey__div2-text">Маркетинг і зв'язки з громадськістю</p>
                    <p>Пошук місця, управління логістикою</p>
                </div>
                <picture>
                    <source
                      srcset="
                        ./img/desktop/about-page/johnmark-smith@desktop1x.webp 1x,
                        ./img/desktop/about-page/johnmark-smith@desktop2x.webp 2x,
                      "
                      media="(min-width: 1360px)"
                    />
                    <source
                    srcset="
                      ./img/tablet/about-page/johnmark-smith@tablet1x.webp 1x,
                      ./img/tablet/about-page/johnmark-smith@tablet2x.webp 2x,
                    "
                    media="(min-width: 768px)"
                  />
                    <source
                      srcset="
                      ./img/mobile/about-page/johnmark-smith@mobile1x.webp 1x,
                      ./img/mobile/about-page/johnmark-smith@mobile2x.webp 2x,
                      "
                      media="(min-width: 320px)"
                    />
                    <img class="turnkey__image" src="./img/mobile/about-page/johnmark-smith@mobile1x.webp" alt="about johnmark smith photo" />
                  </picture>
            </div>
        </div>
        <button class="turnkey__button" type="button">Детальніше</button>
    </div>
</section>