<section class="why">
    <div class="container why__container">
        <div class="why__box">
            <h2 class="why__title">Чому CBD: Зустрічі та події</h2>
            <div class="why__line"><div></div></div>
        </div>
        <div class="why__div">
            <div class="why__yellow-div">
                <p class="why__yellow-text">Корпоративні заходи, зустрічі, конференції та інше</p>
                <p class="why__yellow-text">Некомерційні організації, асоціації, Центральні банки</p>
                <p class="why__yellow-text">Міжнародні зустрічі</p>
                <p>Спеціальність: Закордонний приватний сектор Інвестиційні семінари</p>
                <button type="button">Загрузити брошуру</button>
            </div>
            <div class="why__green-div">
                <p>Штаб-квартира організації з планування заходів 
                    у Вашингтоні, округ Колумбія. CBD керує 
                    подіями для міжнародних урядів, некомерційних 
                    організацій, корпорацій, малих підприємств та 
                    приватних осіб. Ми є малим бізнесом. Нашою власницею 
                    є жінка, яка має членство у Washington Women In 
                    PR та Destination DC.<br><br>
                     Наш корпоративний відділ пропонує планування конференцій, 
                    щорічних зустрічей і управління при проведенні заходів.
                     Наш соціальний відділ планує соціальні заходи, збори коштів
                      для неприбуткових організацій і весілля. <br><br>  Ми керували 
                      подіями від концептуалізації до завершення для кількох 
                      історичних та широко розрекламованих подій, наприклад: 
                      The Journer Truth Unveiling with First Lady Сполучених 
                      Штатів пані Мішель Обама, секретар США Гілларі Клінтон,  
                      Уряд Бразилії, Посольство Швеції, Coca-Cola, Time Warner, 
                      Dodge, Atlanta Committee Олімпійських ігор (ACOG) та багато
                      інших.
                </p>
                <div class="why__green-button"><button type="button">Детальніше</button></div>
            </div>
        </div>
    </div>
</section>