
    $black-text:#3D3C39;
    $gold-text:#A76E00;
    $white-text: #FDFDFD;
    $blue-information: #3E1063;
    $green-text: #04867E;
    $white-secondary: #979797;
    $gold-logo: #DA9D27;
    $white-fon: #F8F1E9;
    $green-footer: #16392D;