.design {
  padding-top: 48px;
  padding-bottom: 48px;

  @media screen and (min-width: 768px) {
    padding-top: 82px;
    padding-bottom: 48px;
  }

  @media screen and (min-width: 1360px) {
    padding-top: 108px;
    padding-bottom: 46px;
  }

  &__container {
    position: relative;
  }

  &__title {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    color: $gold-text;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 24px;
    }

    @media screen and (min-width: 1360px) {
      font-size: 56px;
      line-height: 64px;
      margin-bottom: 40px;
    }
  }

  &__line {
    display: none;

    @media screen and (min-width: 768px) {
      display: none;
    }

    @media screen and (min-width: 1360px) {
      display: inherit;
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
    }
  }
  &__line div {
    min-width: 433px;
    height: 2px;
    background-color: $gold-text;
  }

  &__list {
    display: flex;
    justify-content: center;
    padding: 16px;
    
  }

  &__images {
    max-width: 276px;
  }

  &__images1 {
    max-width: 491px;
    // position: absolute;
  }

  &__bttn {
    color: #04867e;
    padding: 12px 12px;
    min-width: 343px;
    background-color:rgba(248, 241, 233, 1);
    border-radius: 4px;
    

    @media screen and (min-width: 768px) {
        padding: 10px 43px;
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      min-width: 240px;
      max-height: 42px;
      display: inline-block;
      border-radius: 2px;
      border-bottom: 2px solid black;
      background: transparent;
      cursor: pointer;
    }

    @media screen and (min-width: 1360px) {
      padding: 10px 43px;
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      min-width: 240px;
      max-height: 42px;
      display: inline-block;
      
    }
  }
}
