.protocol {
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 48px;
  background-color: $white-secondary;

  @media screen and (min-width: 768px) {
    background-size: 500px 461px;
    background-position: 280px 50px;
    padding-top: 88px;
    padding-bottom: 64px;
    background-image: url(../img/desktop/main-page/backgroundprotocol@desktop1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/desktop/main-page/backgroundprotocol@desktop2x.jpg);
    }
  }
  @media screen and (min-width: 1360px) {
    background-position: 182px 76px;
    background-size: 1280px 540px;
    padding-top: 108px;
    padding-bottom: 113px;
    background-image: url(../img/desktop/main-page/backgroundprotocol@desktop1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/desktop/main-page/backgroundprotocol@desktop2x.jpg);
    }
  }

  &__main-title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    color: $white-text;
    width: 300px;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      width: 657px;
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 32px;
    }

    @media screen and (min-width: 1360px) {
      width: 920px;
      font-size: 56px;

      line-height: 64px;
    }
  }

  &__line {
    @media screen and (min-width: 1360px) {
      display: flex;
      align-items: center;
      gap: 40px;
    }
  }
  &__line div {
    display: none;

    @media screen and (min-width: 1360px) {
      display: inherit;
      width: 384px;
      height: 2px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: 768px) {
      gap: 16px;
    }

    @media screen and (min-width: 1360px) {
      flex-direction: row;
    }
  }

  &__card {
    border-radius: 8px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: $white-text;
    width: 300px;

    @media screen and (min-width: 768px) {
      width: 316px;
      height: 60px;
    }

    @media screen and (min-width: 1360px) {
      width: 324px;
      height: 440px;
      padding-left: 24px;
      padding-top: 8px;
      padding-right: 8px;
      padding-bottom: 8px;
    }
  }

  &__numberbox {
    display: flex;
    gap: 66px;
    padding: 10px 16px;
    align-items: center;

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1360px) {
      gap: 16px;
      padding: 0px;
      margin-bottom: 24px;
    }
  }

  &__number {
    font-size: 30px;
    line-height: 40px;
    color: $gold-text;
    font-weight: 500;

    @media screen and (min-width: 768px) {
      font-size: 28px;
      line-height: 36px;
    }

    @media screen and (min-width: 1360px) {
      font-size: 28px;
      line-height: 36px;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: $gold-text;

    @media screen and (min-width: 1360px) {
      color: $gold-text;
      font-size: 28px;
      font-weight: 500;
      line-height: 36px;
      word-wrap: break-word;
    }
  }

  &__item {
    display: none;

    color: $black-text;

    @media screen and (min-width: 1360px) {
      font-size: 18px;
      display: inherit;
      font-weight: 400;
      line-height: 32px;
      word-wrap: break-word;
      margin-bottom: 8px;
    }
  }
}
