<section class="about-company">
  <div class="container company__container">
    <div class="company__chat">
      <a class="company__chatbttn" href="#">Чат</a>
      <p class="company__description">Натхнення можна знайти всюди</p>
    </div>
    <picture>
      <source
        srcset="
          ./img/desktop/main-page/concert@desktop1x.webp 1x,
          ./img/desktop/main-page/concert@desktop1x.webp 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./img/tablet/main-page/concert@tablet2x.webp 1x,
          ./img/tablet/main-page/concert@tablet1x.webp 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/mobile/main-page/concert@mobile1x.webp 1x,
          ./img/mobile/main-page/concert@mobile2x.webp 2x
        "
        media="(min-width: 320px)"
      />
      <img
        class="main__img"
        src="./img/desktop/main-page/concert@desktop1x.webp 1x"
        alt="laptop"
      />
    </picture>
    <div class="company__textbox">
      <h2 class="company__text">Про компанію</h2>
      <p class="company__subtext">
        CBD Meetings & Events — готове рішення Вашингтона, округ Колумбія до
        повного планува...
      </p>
      <a class="company__details-button" href="#">Детальніше</a>
    </div>
  </div>
</section>
