<section class="about-company">
  <div class="container about-company__container">
    <picture>
      <source
        srcset="
          ./img/desktop/main-page/concert@desktop1x.webp 1x,
          ./img/desktop/main-page/concert@desktop1x.webp 2x
        "
        media="(min-width: 1360px)"
      />
      <source
        srcset="
          ./img/tablet/main-page/concert@tablet2x.webp 1x,
          ./img/tablet/main-page/concert@tablet1x.webp 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/mobile/main-page/concert@mobile1x.webp 1x,
          ./img/mobile/main-page/concert@mobile2x.webp 2x
        "
        media="(min-width: 320px)"
      />
      <img
        class="about-company__images"
        src="./img/desktop/main-page/concert@desktop1x.webp 1x"
        alt="concert"
      />
    </picture>

    <div class="about-company__textbox">
      <h2 class="about-company__title">Про компанію</h2>
      <div class="about-company__line">
        <div></div>
        <p class="about-company__subtext">
          CBD Meetings & Events — готове рішення Вашингтона, округ Колумбія до
          повного планування заходів, організації заходів та маркетингу заходів.
          CBD є найкращим інтегрованим планува...
        </p>
        <button class="about-company__details-button">Детальніше</button>
      </div>
    </div>
    <div class="about-company__chat">
      <p class="about-company__description">Натхнення можна знайти всюди</p>
      <button class="about-company__chatbttn">Чат</button>
    </div>
  </div>
</section>
