<section class="design-concept">
    <div class="container design__container ">
<h1 class="design__title">
    Вишукані концепції дизайну
</h1>
<div>
    <picture>
        <source
          srcset="
            ./img/desktop/main-page/harrison@desktop1x.webp 1x,
            ./img/desktop/main-page/harrison@desktop2x.webp 2x
          "
          media="(min-width: 1360px)"
        />
        <source
          srcset="
            ./img/tablet/main-page/harrison@tablet1x.webp 1x,
            ./img/tablet/main-page/harrison@tablet2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/mobile/main-page/harrison@mobile1x.webp 1x,
            ./img/mobile/main-page/harrison@mobile2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="design__images"
          src="./img/desktop/main-page/harrison@desktop1x.webp 1x"
          alt="error"
        />
      </picture>

      <picture>
        <source
          srcset="
            ./img/desktop/main-page/long-table@desktop1x.webp 1x,
            ./img/desktop/main-page/long-table@desktop2x.webp 2x
          "
          media="(min-width: 1360px)"
        />
        <source
          srcset="
            ./img/tablet/main-page/long-table@tablet1x.webp 1x,
            ./img/tablet/main-page/long-table@tablet2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/mobile/main-page/long-table@mobile1x.webp 1x,
            ./img/mobile/main-page/long-table@mobile2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="design__images"
          src="./img/desktop/main-page/long-table@desktop1x.webp 1x"
          alt="error"
        />
      </picture>

      <picture>
        <source
          srcset="
            ./img/desktop/main-page/gillian-harrison@desktop1x.webp 1x,
            ./img/desktop/main-page/gillian-harrison@desktop2x.webp 2x
          "
          media="(min-width: 1360px)"
        />
        <source
          srcset="
            ./img/tablet/main-page/gillian-harrison@tablet1x.webp 1x,
            ./img/tablet/main-page/gillian-harrison@tablet2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/mobile/main-page/gillian-harrison@mobile1x.webp 1x,
            ./img/mobile/main-page/gillian-harrison@mobile2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="design__images"
          src="./img/desktop/main-page/gillian-harrison@desktop1x.webp 1x"
          alt="error"
        />
      </picture>
      <a class="design__link" href="#">Детальніше</a>
</div>
    </div>
</section>