<section class="design">
  <div class="container design__container">
    <div class="design__line" >
      <div></div>
      <h1 class="design__title">Вишукані концепції дизайну</h1>
    </div>
    
    <ul class="design__list">
      <li class="design__item">
        <picture>
          <source
            srcset="
              ./img/desktop/main-page/harrison@desktop1x.webp 1x,
              ./img/desktop/main-page/harrison@desktop2x.webp 2x
            "
            media="(min-width: 1360px)"
          />
          <source
            srcset="
              ./img/tablet/main-page/harrison@tablet1x.webp 1x,
              ./img/tablet/main-page/harrison@tablet2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/main-page/harrison@mobile1x.webp 1x,
              ./img/mobile/main-page/harrison@mobile2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="design__images"
            src="./img/desktop/main-page/harrison@desktop1x.webp 1x"
            alt="error"
          />
        </picture>
      </li>
      <li class="item">
        <picture>
          <source
            srcset="
              ./img/desktop/main-page/long-table@desktop1x.webp 1x,
              ./img/desktop/main-page/long-table@desktop2x.webp 2x
            "
            media="(min-width: 1360px)"
          />
          <source
            srcset="
              ./img/tablet/main-page/long-table@tablet1x.webp 1x,
              ./img/tablet/main-page/long-table@tablet2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/main-page/long-table@mobile1x.webp 1x,
              ./img/mobile/main-page/long-table@mobile2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="design__images1"
            src="./img/desktop/main-page/long-table@desktop1x.webp 1x"
            alt="error"
          />
        </picture>
      </li>
      <li class="item">
        <picture>
          <source
            srcset="
              ./img/desktop/main-page/gillian-harrison@desktop1x.webp 1x,
              ./img/desktop/main-page/gillian-harrison@desktop2x.webp 2x
            "
            media="(min-width: 1360px)"
          />
          <source
            srcset="
              ./img/tablet/main-page/gillian-harrison1@tablet1x.webp 1x,
              ./img/tablet/main-page/gillian-harrison1@tablet2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/main-page/gillian-harrison1@mobile1x.webp 1x,
              ./img/mobile/main-page/gillian-harrison1@mobile2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="design__images"
            src="./img/desktop/main-page/gillian-harrison@desktop1x.webp 1x"
            alt="error"
          />
        </picture>
      </li>
    </ul>

    <button class="design__bttn">
      Детальніше
    </button>
  </div>
</section>
