<section class="protocol">
  <div class="container protocol__container">
    <div class="protocol__line">
    <h2 class="protocol__main-title">Протокол заходів і зустрічей</h2>
    <div></div>
    </div>
  
    <div class="protocol__box">
      <div class="protocol__card">
        <ul class="protocol__list">
          <h3 class="protocol__title">1. Планування</h3>
          <li class="protocol__item">Менеджер контенту</li>
          <li class="protocol__item">Укладення договору</li>
          <li class="protocol__item">Концепція дизайну</li>
          <li class="protocol__item">Бюджет</li>
          <li class="protocol__item">Попередня реєстрація</li>
          <li class="protocol__item">Зв'язки з громадськістю</li>
          <li class="protocol__item">Вибір ділянки</li>
          <li class="protocol__item">Бронювання спікерів</li>
          <li class="protocol__item">Пошук талантів</li>
        </ul>
      </div>

      <div class="protocol__card">
        <ul class="protocol__list">
          <h3 class="protocol__title">2. Логістика</h3>
          <li class="protocol__item">Повітряна подорож</li>
          <li class="protocol__item">Оренда декору</li>
          <li class="protocol__item">Прокат урочистої білизни</li>
          <li class="protocol__item">Наземний транспорт</li>
          <li class="protocol__item">Бронювання готелю</li>
          <li class="protocol__item">Друк</li>
          <li class="protocol__item">Приватна охорона</li>
          <li class="protocol__item">Кадрове забезпечення</li>
          <li class="protocol__item">Зв’язок з постачальниками</li>
        </ul>
      </div>

      <div class="protocol__card">
        <ul class="protocol__list">
          <h3 class="protocol__title">3. Виконання</h3>
          <li class="protocol__item">Подарунки учасникам</li>
          <li class="protocol__item">Аудіовізуал</li>
          <li class="protocol__item">Обслуговування</li>
          <li class="protocol__item">Декор</li>
          <li class="protocol__item">Маркетинг</li>
          <li class="protocol__item">Фотографія</li>
          <li class="protocol__item">Рекламні товари</li>
          <li class="protocol__item">Звук / Освітлення</li>
          <li class="protocol__item">Відеозйомка</li>
        </ul>
      </div>

      <div class="protocol__card">
        <ul class="protocol__list">
          <h3 class="protocol__title">4. Менеджмент</h3>
          <li class="protocol__item">Управління контрактами</li>
          <li class="protocol__item">Управління призначенням</li>
          <li class="protocol__item">Управління логістикою</li>
          <li class="protocol__item">Управління протоколом</li>
          <li class="protocol__item">Виїзні події</li>
          <li class="protocol__item">Реєстрація учасників на місці</li>
          <li class="protocol__item">Закупівлі</li>
          <li class="protocol__item">Стратегічний менеджмент</li>
        </ul>
      </div>
    </div>
  </div>
</section>
