<section class="event-protocol">
  <div class="container protocol__container">
    <h2 class="protocol__title">Протокол заходів і зустрічей</h2>

    <div class="protocol__box">
      <div class="protocol__card">
        <h2>1. Планування</h2>
        <ul>
          <li>Менеджер контенту</li>
          <li>Укладення договору</li>
          <li>Інфолінія / дизайн</li>
          <li>Бюджет</li>
          <li>Попередня реєстрація</li>
          <li>Запрошення - рекламна кампанія</li>
          <li>Вибір дати/часу</li>
          <li>Вибір теми і інфо лінія</li>
          <li>Пошук таланту</li>
        </ul>
      </div>

      <div class="protocol__card">
        <h2>2. Логістика</h2>
        <ul>
          <li>Політ / подорож</li>
          <li>Оренда залу</li>
          <li>Процеси харчування / бізнес-ланчі</li>
          <li>Програмні продукти</li>
          <li>Друк</li>
          <li>Правила обслуговування</li>
          <li>Програма дій</li>
          <li>Фінанси</li>
          <li>Звіти / інструкції / листування</li>
        </ul>
      </div>

      <div class="protocol__card">
        <h2>3. Виконання</h2>
        <ul>
          <li>Підтримка учасників</li>
          <li>Аудіо / відео обладнання</li>
          <li>Обслуговування</li>
          <li>Друк</li>
          <li>Маркетинг</li>
          <li>Фотозйомка</li>
          <li>Реєстрація учасників</li>
          <li>Модерація</li>
          <li>Відповіді на запитання</li>
          <li>Зворотний зв'язок</li>
        </ul>
      </div>

      <div class="protocol__card">
        <h2>4. Менеджмент</h2>
        <ul>
          <li>Управління контрактами</li>
          <li>Управління партнерами</li>
          <li>Управління логістикою</li>
          <li>Управління проектом</li>
          <li>Ведення подій</li>
          <li>Управління взаємодією</li>
          <li>Нагляд / контроль</li>
          <li>Звітність</li>
          <li>Робота з фідбеком</li>
        </ul>
      </div>
    </div>
  </div>
</section>
