<section class="lastnews">
  <div class="container lastnews__container">
    <div class="lastnews__line">
      <div></div>
      <h2 class="lastnews__title">Останні новини</h2>
    </div>

    <ul class="lastnews__list">
      <li class="lastnews__item">
        <p class="lastnews__text">04 Травня 2019</p>
        <picture>
          <source
            srcset="
              ./img/desktop/main-page/rodrigo-souza@desktop1x.webp 1x,
              ./img/desktop/main-page/rodrigo-souza@desktop2x.webp 2x
            "
            media="(min-width: 1360px)"
          />
          <source
            srcset="
              ./img/tablet/main-page/rodrigo-souza@tablet1x.webp 1x,
              ./img/tablet/main-page/rodrigo-souza@tablet2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/main-page/rodrigo-souza@mobile1x.webp 1x,
              ./img/mobile/main-page/rodrigo-souza@mobile2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="lastnews__images"
            src="./img/desktop/main-page/rodrigo-souza@desktop1x.webp 1x"
            alt="error"
          />
        </picture>
        <h3 class="lastnews__subtitle">Як планується захід</h3>
      </li>
      <li class="lastnews__item1">
        <p class="lastnews__text">21 Серпня 2019</p>
        <picture>
          <source
            srcset="
              ./img/desktop/main-page/key-notez@desktop1x.webp 1x,
              ./img/desktop/main-page/key-notez@desktop2x.webp 2x
            "
            media="(min-width: 1360px)"
          />
          <source
            srcset="
              ./img/tablet/main-page/key-notez@tablet1x.webp 1x,
              ./img/tablet/main-page/key-notez@tablet2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/main-page/key-notez@mobile1x.webp 1x,
              ./img/mobile/main-page/key-notez@mobile2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="lastnews__images"
            src="./img/desktop/main-page/key-notez@desktop1x.webp 1x"
            alt="error"
          />
        </picture>
        <h3 class="lastnews__subtitle">Інформація для пошуку організатора</h3>
      </li>
      <li class="lastnews__item2">
        <p class="lastnews__text">28 Серпня 2019</p>
        <picture>
          <source
            srcset="
              ./img/desktop/main-page/cottonbro@desktop1x.webp 1x,
              ./img/desktop/main-page/cottonbro@desktop2x.webp 2x
            "
            media="(min-width: 1360px)"
          />
          <source
            srcset="
              ./img/tablet/main-page/cottonbro@tablet1x.webp 1x,
              ./img/tablet/main-page/cottonbro@tablet2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/main-page/cottonbro@mobile1x.webp 1x,
              ./img/mobile/main-page/cottonbro@mobile2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="lastnews__images"
            src="./img/desktop/main-page/cottonbro@desktop1x.webp 1x"
            alt="error"
          />
        </picture>
        <h3 class="lastnews__subtitle">Зустрічі та заходи. Брошура</h3>
      </li>
    </ul>
    <div class="lastnews__bttnbox">
      <button class="lastnews__bttn">Ознайомитися</button>
    </div>
  </div>
</section>
