<section class="services">
  <div class="container container__services">
    <div class="services__line">
      <h2 class="services__title">Вибір послуг</h2>
      <div></div>
    </div>

    <div class="services__box">
      <ul class="services__list">
        <li class="services__item" id="paddingleft8px">
          Логістика та реєстрація
        </li>

        <div class="services__line">
          <div id="size88px"></div>
          <li class="services__item" id="paddingleft16px">
            Менеджмент призначення
          </li>
        </div>

        <div class="services__line">
          <div id="size176px"></div>
          <li class="services__item" id="paddingleft32px">
            Обговорення місця та об’єкта
          </li>
        </div>

        <div class="services__line">
          <div id="size264px"></div>
          <li class="services__item" id="paddingleft48px">Обслуговування</li>
        </div>
      </ul>

      <div class="services__midline">
        <div></div>
      </div>

      <ul class="services__list1">
        <div class="services__line">
          <li class="services__item" id="paddingleft8px">Аудіовізуал</li>
          <div id="size440px"></div>
        </div>

        <div class="services__line">
          <li class="services__item" id="paddingleft16px">Звук і освітлення</li>
          <div id="size382px"></div>
        </div>

        <div id="line100px" class="services__line">
          <li class="services__item" id="paddingleft32px">
            Креативний дизайн і декор
          </li>
          <div id="size98px"></div>
        </div>

        <li class="services__item" id="paddingleft48px">
          Фотографія та відеозйомка
        </li>
      </ul>
    </div>
    <div class="services__bttnbox">
      <button class="services__bttn">Ознайомитися</button>
    </div>
  </div>
</section>
