<section class="services-selection">
  <div class="container container__services">
    <h2 class="services__title">Вибір послуг</h2>
   <div class="services__box">
    <ul class="services__list">
        <li class="services__item">Логістика та реєстрація</li>
        <li class="services__item">Менеджмент призначення</li>
        <li class="services__item">Обговорення місця та об’єкта</li>
        <li class="services__item">Обслуговування</li>
      </ul>
  
      <ul>
        <li class="services__item2">Аудіовізуал</li>
        <li class="services__item2">Звук і освітлення</li>
        <li class="services__item2">Креативний дизайн і декор</li>
        <li class="services__item2">Фотографія та відеозйомка</li>
      </ul>
   </div>
    <a class="services__link" href="#">Ознайомитися </a>
  </div>
</section>
