<section class="thematic-event">
  <div class="container event__container">
    <h2 class="event__title">
      Тематичні події під ключ - незабутні святкові емоції
    </h2>
    <div>
      <h3 class="event__subtitle">Використовуємо найсучасніший дизайн</h3>
      <p class="event__text">
        Ключ до чудової події — зробити її незабутньою. У CBD ми використовуємо
        концепцію вашого бренду та особистості, щоб створювати настрій і
        встановлювати стандарти. Тут НЕМАЄ подій, пов’язаних із розрізанням
        тортів. Кожен елемент дизайну налаштований на замовлення, і ми НІКОЛИ не
        ЗАБУВАЄМО дрібних деталей.
      </p>

      <picture>
        <source
          srcset="
            ./img/desktop/main-page/sergio-souza@desktop1x.webp 1x,
            ./img/desktop/main-page/sergio-souza@desktop2x.webp 2x
          "
          media="(min-width: 1360px)"
        />
        <source
          srcset="
            ./img/tablet/main-page/sergio-souza@tablet1x.webp 1x,
            ./img/tablet/main-page/sergio-souza@tablet2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/mobile/main-page/sergio-souza@mobile1x.webp 1x,
            ./img/mobile/main-page/sergio-souza@mobile2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="event__images"
          src="./img/desktop/main-page/sergio-souza@desktop1x.webp 1x"
          alt="error"
        />
      </picture>

      <a class="event__link" href="#">Детальніше</a>
    </div>
  </div>
</section>
