<section class="event">
  <div class="container event__container">
    <div class="event__titlebox">
      <h2 class="event__firsthalf">Тематичні події під ключ -</h2>
      <div class="event__line">
        <div></div>
      </div>
      <h2 class="event__secondhalf">незабутні святкові емоції</h2>
    </div>
    <div class="event__flexbox">
      <div class="event__imagesbox">
        <picture>
          <source
            srcset="
              ./img/desktop/main-page/sergio-souza@desktop1x.webp 1x,
              ./img/desktop/main-page/sergio-souza@desktop2x.webp 2x
            "
            media="(min-width: 1360px)"
          />
          <source
            srcset="
              ./img/tablet/main-page/sergio-souza@tablet1x.webp 1x,
              ./img/tablet/main-page/sergio-souza@tablet2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/main-page/sergio-souza@mobile1x.webp 1x,
              ./img/mobile/main-page/sergio-souza@mobile2x.webp 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="event__images"
            src="./img/desktop/main-page/sergio-souza@desktop1x.webp 1x"
            alt="error"
          />
        </picture>
      </div>
      <h3 class="event__subtitle">Використовуємо найсучасніший дизайн</h3>
      <div class="event__contentbox">
        <div class="event__textbox">
          <p class="event__text">
            Ключ до чудової події — зробити її незабутньою. У CBD ми
            використовуємо концепцію вашого бренду та особистості, щоб
            створювати настрій і встановлювати стандарти.
             <p class="event__text">
              Тут НЕМАЄ подій,
            пов’язаних із розрізанням тортів. Кожен елемент дизайну налаштований
            на замовлення, і ми НІКОЛИ не ЗАБУВАЄМО дрібних деталей.
             </p>
          </p>
        </div>

        <div class="event__bttnbox">
          <button class="event__bttn">Детальніше</button>
        </div>
      </div>
    </div>
  </div>
</section>
