<section class="video-tour">
    <div class="container video__container">
<h2 class="video__title">
    Відео-тур
</h2>

<div>
    <h3 class="video__subitle" >
        Перегляд виконаних замовлень
    </h3>

    <picture>
        <source
          srcset="
            ./img/desktop/main-page/abby-kihano@desktop1x.webp 1x,
            ./img/desktop/main-page/abby-kihano@desktop2x.webp 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./img/tablet/main-page/abby-kihano@tablet1x.webp 1x,
            ./img/tablet/main-page/abby-kihano@tablet2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/mobile/main-page/abby-kihano@mobile1x.webp 1x,
            ./img/mobile/main-page/abby-kihano@mobile2x.webp 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="video__images"
          src="./img/desktop/main-page/abby-kihano@desktop1x.webp 1x"
          alt="error"
        />
      </picture>

</div>

<a class="video__link" href="#">Ознайомитися</a>
    </div>
</section>