body {
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 50px;
    background-size: 375px 792px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/mobile/hero-services@mobile1x.webp);
  
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/mobile/hero-services@mobile2x.webp);
    }

  
    @media screen and (min-width: 768px) {
        background-position-y: 64px;
        background-size: 768px 358px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/tablet/hero-services@tablet1x.webp);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/tablet/hero-services@tablet2x.webp);
        }
    }
    @media screen and (min-width: 1360px) {
        background-position-y: 0;
        background-size: 1440px 549px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/desktop/hero-services@desktop1x.webp);
    
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/desktop/hero-services@desktop2x.webp);
        }
    }
}

.hero {
    
    // position: relative;
    padding-top: 64px;
    padding-bottom: 380px;
    @media screen and (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 184px;
    }
    @media screen and (min-width: 1360px) {
        padding-top: 88px;
        padding-bottom: 220px;
    }
    &__search-form {
        // position: absolute;
        // right: 0;
        // top: 31px;
        padding: 8px 57px 8px 8px;
        display: flex;
        text-align: center;
        border-radius: 4px;
        border: 1px solid $white-text;
        position: relative;
        background-color: transparent;
        max-width: 323px;
        background-color: $white-secondary;
        // border: none;
        @media screen and (min-width: 768px) {
            width: 174px;
            border: 1px solid $white-text;
            background-color: transparent;
            padding-right: 0;
            margin-left: auto;
            margin-right: 0;
        }
        @media screen and (min-width: 1360px) {
            display: none;
        }
    }
    &__search-button {
        position: absolute;
        background-color: transparent;
        border: none;
        right: 8px;
    }
    &__search-input {
        color: $white-text;
        font-size: 17px;
        font-weight: 700;
        line-height: 22px;
        width: 89px;
        border: none;
        background-color: $white-secondary;

        @media screen and (min-width: 768px) {
            background-color: transparent;
            color: $white-secondary;
        }
        
    }
    &__title {
        color: $white-fon;
        font-size: 40px;
        line-height: 48px;
        font-weight: 500;
        margin-top: 260px;
        text-align: center;

        @media screen and (min-width: 768px) {
            font-size: 56px;
            line-height: 64px;
            margin-top: 36px;
        }

        @media screen and (min-width: 1360px) {
            line-height: 90px;
            margin-top: 0;
        }
    }
}