.reviews {
  padding-top: 40px;
  padding-bottom: 48px;
  background-color: $white-secondary;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 48px;
    background-position-x: 0px, 670px;
    background-position-y: 330px, 1px;
    background-image: url(../img/tablet/services-page/vector@tablet-1x.webp),
    url(../img/tablet/services-page/vector-up.webp);
  }

  @media screen and (min-width: 1360px) {
    padding-top: 100px;
    padding-bottom: 48px;
    background-position-x: 40px, 375px, 1px;
    background-position-y: 410px, 30px, 1px;
    background-image: url(../img/desktop/services-page/vektor@desktop-1x.webp), 
    url(../img/desktop/services-page/last-vecrors.webp),
    url(../img/desktop/services-page/gold-line.webp);
  }

  &__title {
    color: $white-fon;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
      font-size: 40px;
      line-height: 48px;
      text-align: right;
    }

    @media screen and (min-width: 1360px) {
      font-size: 56px;
      line-height: 64px;
      text-align: center;
      margin-bottom: 48px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: 768px) {
      gap: 16px;
    }

    @media screen and (min-width: 1360px) {
      gap: 12px;
    }
  }

  &__item {
    background-color: $white-fon;
    border-radius: 8px;
    border: 1px solid var(--white-text, #fdfdfd);
    display: flex;
    gap: 16px;

    @media screen and (min-width: 768px) {
      gap: 16px;
    }

    @media screen and (min-width: 1360px) {
      gap: 48px;
    }
  }

  &__item:nth-child(1) {
    width: 280px;
    gap: 24px;

    @media screen and (min-width: 768px) {
      width: 452px;
    }

    @media screen and (min-width: 1360px) {
      width: 900px;
    }
  }

  &__item:nth-child(2) {
    width: 280px;
    align-self: self-end;

    @media screen and (min-width: 768px) {
      width: 452px;
    }

    @media screen and (min-width: 1360px) {
      width: 900px;
    }
  }

  &__image {
    width: 270px;
    height: 40px;

    @media screen and (min-width: 768px) {
      width: 250px;
      height: 56px;
    }

    @media screen and (min-width: 1360px) {
      width: 260px;
      height: 93px;
    }
  }

  &__text {
    color: $black-text;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding: 8px;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
    }

    @media screen and (min-width: 1360px) {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
    }
  }

  &__name {
    color: $blue-information;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    padding: 8px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px;
    }

    @media screen and (min-width: 1360px) {
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
    }
  }

  &__button {
    color: $green-text;
    display: flex;
    margin-top: 24px;
    justify-content: center;
    gap: 8px;
    border-radius: 4px;
    background: $white-text;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    width: 300px;
    padding: 12px;
    align-items: flex-end;

    @media screen and (min-width: 768px) {
      display: block;
      margin: 0 auto;
      margin-top: 16px;
      width: 200px;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px;
      border-bottom: 1px solid $black-text;
    }

    @media screen and (min-width: 1360px) {
      margin: 0;
      font-size: 18px;
      width: 240px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      padding: 10px 16px;
      margin-top: 3px;
      border-bottom: 1px solid $black-text;
      align-items: center;
    }
  }
  &__img-div {
    padding-top: 8px;
  }
}
