.services {
  padding-top: 40px;
  padding-bottom: 48px;
  background-position-y: 215px;
  background-repeat: no-repeat;
  background-position-x: 30px;
  background-position-y: 210px;
  background-image: url(../img/mobile/services-page/picture-vec@mobile-1x.webp);

  @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/tablet/services-page/picture-vec@mobile-2x.webp);
    }

  @media screen and (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 48px;
    background-size: 400px 600px;
    background-image: url(../img/tablet/services-page/vectors@tablet-1x.webp);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/tablet/services-page/vectors@tablet-2x.webp);
    }
  }

  @media screen and (min-width: 1360px) {
    padding-top: 100px;
    padding-bottom: 48px;
    background-size: 1360px 1272px;
    background-image: url(../img/desktop/services-page/services-vektor@desktop1x.webp);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../img/desktop/services-page/services-vektor@desktop2x.webp);
  }
  }

  &__box {
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
      margin-bottom: 48px;
    }

    @media screen and (min-width: 1360px) {
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      gap: 40px;
      width: 1360px;
    }
  }

  &__box div {
    display: none;

    @media screen and (min-width: 768px) {
      display: none;
    }

    @media screen and (min-width: 1360px) {
      background: $gold-text;
      display: inherit;
      width: 846px;
      height: 2px;
    }
  }

  &__title {
    color: $gold-text;
    padding: 8px;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;

    @media screen and (min-width: 768px) {
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: 48px;
    }

    @media screen and (min-width: 1360px) {
      font-size: 56px;
      font-style: normal;
      font-weight: 500;
      line-height: 64px;
    }
  }

  &__div {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (min-width: 768px) {
      flex-direction: column;
      align-items: end;
      gap: 12px;
      margin-top: -100px;
    }

    @media screen and (min-width: 1360px) {
      flex-direction: row;
      align-items: normal;
      gap: 110px;
      margin-top: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (min-width: 768px) {
      gap: 12px;
    }

    @media screen and (min-width: 1360px) {
      gap: 120px;
    }
  }

  &__lists {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (min-width: 768px) {
      gap: 12px;
    }

    @media screen and (min-width: 1360px) {
      gap: 120px;
      margin-top: 72px;
    }
  }

  &__roster {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (min-width: 768px) {
      gap: 12px;
    }

    @media screen and (min-width: 1360px) {
      gap: 120px;
    }
  }

  &__item {
    display: flex;
    gap: 8px;
    border-radius: 8px;
    background: $white-fon;
    width: 300px;
    height: 56px;
    align-items: center;
    padding-left: 8px;

    @media screen and (min-width: 768px) {
      width: 360px;
      height: 80px;
      align-items: center;
    }

    @media screen and (min-width: 1360px) {
      width: 380px;
      height: 320px;
      flex-direction: column;
    }
  }

  &__subtitle {
    color: $gold-text;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    @media screen and (min-width: 768px) {
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
      padding: 10px 16px;
    }

    @media screen and (min-width: 1360px) {
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px;
    }
  }

  &__text {
    display: none;

    @media screen and (min-width: 768px) {
      display: none;
    }

    @media screen and (min-width: 1360px) {
      color: $black-text;
      display: inherit;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
    }
  }
}
