<section class="portfolio">
  <div class="container portfolio__container">
    <h2 class="portfolio__title">Інформаційні відео CBD</h2>
    <p class="portfolio__text">
      CBD співпрацює з головним відеооператором Маршаллом Леві для створення
      відео високої чіткості вашої події. Відеоформати доступні для перепродажу,
      онлайн та інші цифрові формати. Для отримання додаткової інформації про
      наші послуги відеозйомки натисніть тут
    </p>
    <button class="portfolio__bttn">Детальніше</button>
  </div>
</section>
