<section class="patron">
    <div class="container patron__container">
        <h2 class="patron__title">Це Пес Патрончік Посіпака</h2>
        <div class="patron__div">
            <div class="patron__image">
                <img src="./img/desktop/clients-page/patron.webp" alt="patronchic image">        
            </div>
            <div class="patron__box">
                <h2>Портрет користувача</h2>
                <p>І він дуже любе зустрічі тому для нього ми створили цей сайт​
                    <br><br>
                    24+ років​
                    <br><br>
                    Пес Патрончік працівник ЗСУ​
                    <br><br>
                    Захоплюється мінами та бомбами ​
                    <br><br>
                    Любить проводити час за пошуками мін та бомб,​
                    <br><br>
                    а також любить подорожувати.​
                    <br><br>
                    Потребує того (що вирішує наш додаток: оргарнізацію корпоративних заходів, зустріч та подій)</p>
            </div>
        </div>
    </div>
</section>