.footer {
  padding-top: 24px;
  padding-bottom: 8px;
  background-color: $green-footer;
  height: 1030px;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 8px;
    height: 940px;
  }
  @media screen and (min-width: 1360px) {
    padding-top: 64px;
    padding-bottom: 8px;
    height: 644px;
  }
  &__container {
    position: relative;
  }
  &__logo-div {
    display: flex;
    flex-direction: column;
    width: 163px;
  }
  &__logo-text {
    display: none;
    @media screen and (min-width: 768px) {
      margin-top: -8px;
      display: inherit;
      color: $gold-logo;
      font-family: "Nunito", sans-serif;
      line-height: 10px;
      font-size: 8px;
      width: 124px;
    }
    @media screen and (min-width: 1360px) {
      font-size: 10px;
      font-weight: 600;
      width: 163px;
      margin-top: -14px;
    }
  }
  &__logo {
    color: $gold-logo;
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;

    @media screen and (min-width: 768px) {
      font-size: 56px;
      line-height: 56px;
    }

    @media screen and (min-width: 1360px) {
      font-size: 64px;
      line-height: 80px;
    }
  }
  &__info-div {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      gap: 154px;
      flex-direction: row;
    }
    @media screen and (min-width: 1360px) {
      gap: 113px;
    }
  }
  &__item button {
    display: none;
    @media screen and (min-width: 768px) {
      display: inherit;
      width: 200px;
      height: 40px;
      padding: 12px 8px;
      border: 1px solid $gold-logo;
      gap: 8px;
      color: $gold-text;
      font-size: 15px;
      font-weight: 700;
      line-height: 18px;
      margin-top: 48px;
      background-color: $white-text;
    }
    @media screen and (min-width: 1360px) {
      width: 240px;
      padding: 10px 8px;
      border-radius: 4px;
      font-size: 18px;
      line-height: 22px;
      margin-top: 58px;
    }
  }
  &__mobile-button {
    border-radius: 4px;
    border: 1px solid $gold-logo;
    background-color: $white-text;
    max-width: 343px;
    padding: 12px 8px;
    color: $gold-text;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin-top: 16px;
    margin-bottom: 16px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &__item-title {
    color: $white-secondary;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 12px;
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }

    @media screen and (min-width: 1360px) {
      font-size: 18px;
      line-height: 22px; /* 122.222% */
    }
  }
  &__item p {
    color: $white-secondary;
    font-weight: 400;
    line-height: 18px;
    font-size: 13px;
    width: 154px;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      width: 189.659px;
    }

    @media screen and (min-width: 1360px) {
      font-size: 16px;
      width: 240px;
    }
  }
  &__list {
    display: flex;
    column-gap: 21px;
    row-gap: 24px;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
      gap: 24px;
      flex-wrap: nowrap;
      padding-top: 4px;
    }

    @media screen and (min-width: 1360px) {
      gap: 40px;
      padding-top: 8px;
    }
  }
  &__text-info {
    color: $white-secondary;
    font-weight: 400;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }

    @media screen and (min-width: 1360px) {
      font-size: 16px;
      line-height: 18px;
    }
  }
  &__text-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__item:nth-child(1) {
    width: 152px;
    position: static;
    @media screen and (min-width: 768px) {
      width: 200px;
      position: absolute;
      left: 8px;
      top: 100px;
    }
    @media screen and (min-width: 1360px) {
      width: 256px;
      position: static;
    }
  }
  &__item:nth-child(2) {
    width: 150px;
    @media screen and (min-width: 768px) {
      width: 183px;
    }
    @media screen and (min-width: 1360px) {
      width: 184px;
    }
  }
  &__item:nth-child(3) {
    order: 4;
    width: 150px;
    @media screen and (min-width: 768px) {
      width: 215px;
    }
    @media screen and (min-width: 1360px) {
      width: 243px;
    }
  }
  &__item:nth-child(4) {
    width: 152px;
    position: static;
    @media screen and (min-width: 768px) {
      width: 246px;
      position: absolute;
      top: 422px;
      left: 8px;
    }
    @media screen and (min-width: 1360px) {
      width: 267px;
      position: static;
    }
  }
  &__phone {
    color: $white-text;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }

    @media screen and (min-width: 1360px) {
      font-size: 16px;
    }
  }
  &__email {
    color: $white-text;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }

    @media screen and (min-width: 1360px) {
      font-size: 16px;
    }
  }
  &__icon-list {
    display: flex;
    gap: 8px;
    margin-top: 8px;

    @media screen and (min-width: 768px) {
      margin-top: 12px;
    }
  }
  &__codes {
    position: absolute;
    color: $white-secondary;
    font-weight: 400;
    line-height: 18px;
    font-size: 12px;
    width: 251px;
    top: 865px;
    bottom: 74px;
    left: 0;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      width: 315px;
      top: 684px;
      bottom: 98px;
      left: 389px;
    }
    @media screen and (min-width: 1360px) {
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      width: 440px;
      top: 322px;
      bottom: 200px;
      left: 8px;
    }
  }
  &__div {
    text-align: right;
    margin-top: 124px;

    @media screen and (min-width: 768px) {
    //   gap: 174px;
      margin-top: 436px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @media screen and (min-width: 1360px) {
    //   gap: 554px;
      margin-top: 124px;
    }
  }
  &__div-list {
    display: flex;
    opacity: 0;

    @media screen and (min-width: 768px) {
      opacity: 1;
    }
  }
  &__div-item a {
    color: $white-secondary;
    font-weight: 700;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 18px; /* 128.571% */
      font-weight: 400;
    }
    @media screen and (min-width: 1360px) {
      font-size: 18px;
      line-height: 22px; /* 122.222% */
    }
  }
  &__div-item {
    padding-right: 8px;
    padding-left: 8px;
    border-right: 2px solid $white-secondary;
  }
  &__div-text {
    font-size: 12px;
    color: $white-secondary;
    font-weight: 400;
    line-height: 18px;
    @media screen and (min-width: 768px) {
        font-size: 14px;
    }
    @media screen and (min-width: 1360px) {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        font-size: 28px;
        line-height: 36px;
    }
  }
    &__facebook, &__twitter, &__google, &__youtube {
        fill: $white-secondary;
        max-width: 24px;
        max-height: 24px;
    }
    &__span {
      margin-left: 8px;

      @media screen and (min-width: 1360px) {
        margin-left: 16px;
      }
  }
}

