<!-- <section class="price">
    <div class="price__container container">
        <div class="price__box">
            <div class="price__card">
                <ul class="price__list">
                    <div class="price__numberbox">
                        <h2 class="price__title">Базовий</h2>
                        <p class="price__cost">$5,000</p>
                        <p class="price__guest">До 100 гостей</p>
                    </div>
                    <li class="price__item">Переговори щодо місця проведення</li>
                    <li class="price__item">Попередня реєстрація</li>
                    <li class="price__item">Список гостей</li>
                    <li class="price__item">Подія</li>
                    <li class="price__item">Дизайн запрошень</li>
                    <li class="price__item">Реєстрація на місці</li>
                </ul>
                <button class="price__button">Buy Now</button>
            </div>

            <div class="price__cards">
                <ul class="price__list">
                    <div class="price__numberbox">
                        <h2 class="price__title">Делюкс</h2>
                        <p class="price__cost">$5,500 - 10,000</p>
                        <p class="price__guest">100-200 гостей</p>
                    </div>
                    <li class="price__item">Управління логістикою</li>
                    <li class="price__item">Переговори щодо місця проведення</li>
                    <li class="price__item">Дизайн запрошень</li>
                    <li class="price__item">Реєстрація на місці</li>
                </ul>
                <button class="price__button">Buy Now</button>
            </div>

            <div class="price__card">
                <ul class="price__list">
                    <div class="price__numberbox">
                        <h2 class="price__title">Преміум</h2>
                        <p class="price__cost">$10,000+</p>
                        <p class="price__guest">200-300 гостей</p>
                    </div>
                    <li class="price__item">Відданий старший менеджер з роботи з клієнтами</li>
                    <li class="price__item">Переговори щодо місця проведення</li>
                    <li class="price__item">Преміум-запрошення </li>
                    <li class="price__item">Розширена реєстрація на місці</li>
                </ul>
                <button class="price__button">Buy Now</button>
            </div>

            <div class="price__cards">
                <ul class="price__list">
                    <div class="price__numberbox">
                        <h2 class="price__title">PRО</h2>
                        <p class="price__cost">Індивідуально</p>
                    </div>
                    <li class="price__item">Веб-сайт події</li>
                    <li class="price__item">Переговори щодо місця проведення</li>
                    <li class="price__item">Старший організатор заходів</li>
                    <li class="price__item">Преміальні запрошення </li>
                    <li class="price__item">Розширена реєстрація</li>
                    <li class="price__item">Підтримка в чаті</li>
                    <li class="price__item">Персонал реєстрації на місці</li>
                </ul>
                <button class="price__button">Buy Now</button>
            </div>
        </div>
    </div>
</section> -->