<section class="reviews">
    <div class="container reviews__container">
        <h2 class="reviews__title">Відгуки</h2>
        <ul class="reviews__list">
            <li class="reviews__item">
                <div class="reviews__img-div">
                 <img class="reviews__img" src="../img/desktop/services-page/adriana@desktop1x.webp" alt="reviews">
                </div>
                <div class="reviews__text-div">
                    <p class="reviews__text">Це фантастична фірма з планування заходів. У нас була видатна подія в США, і єдине, що нам потрібно було зробити, це з’явитися. Айві та її команда виконали вражаючу роботу для уряду Бразилії.</p>
                    <p class="reviews__name">Адріана Кастро, директор</p>
                </div>
            </li>
            <li class="reviews__item">
                <div class="reviews__text-div">
                    <p class="reviews__text">Команда виконала фантастичну роботу для семінарів Світового банку з розвитку консолідації центральних банків приватного сектора. Ми в Африці, тому ми могли довірити їм усі деталі.</p>
                    <p class="reviews__name">Маллам Санусі Ламідо Санусі, губернатор Центрального банку Нігерії</p>
                </div>
                <div class="reviews__img-div">
                    <img class="reviews__img" src="../img/desktop/services-page/sanusi@desktop1x.webp" alt="reviews">
                </div>
            </li>
        </ul>
        <button type="button" class="reviews__button">Детальніше</button>
    </div>
</section>