<section class="reviews">
    <div class="reviews__container container">
        <h2 class="reviews__title">Відгуки</h2>
        <div class="reviews__box">
            <ul class="reviews__list">
                <li class="reviews__item">
                    <img class="reviews__img" src="../img/desktop/services-page/adriana@desktop1x.webp" alt="reviews">
                    <h5 class="reviews__name">Адріана Кастро, директор</h5>
                    <p class="reviews__text">Це фантастична фірма з планування заходів. У нас була видатна подія в США, і єдине, що нам потрібно було зробити, це з’явитися. Айві та її команда виконали вражаючу роботу для уряду Бразилії.</p>
                </li>
            </ul>
            <ul class="reviews__list">
                <li class="reviews__item">
                    <img class="reviews__img" src="../img/desktop/services-page/sanusi@desktop1x.webp" alt="reviews">
                    <p class="reviews__text">Команда виконала фантастичну роботу для семінарів Світового банку з розвитку консолідації центральних банків приватного сектора. Ми в Африці, тому ми могли довірити їм усі деталі.</p>
                    <h5 class="reviews__name">Маллам Санусі Ламідо Санусі, губернатор Центрального банку Нігерії</h5>
                </li>
            </ul>
            <button></button>
        </div>
    </div>
</section>