<section class="services">
  <div class="services__container container">
    <div class="services__box">
      <h2 class="services__title">Вибір послуги</h2>
    </div>
    <div class="services__div">
      <ul class="services__list">
        <li class="services__item">
          <h4 class="services__subtitle">Список-нагадування для гостей</h4>
          <p class="services__text">
            Можливості включають список гостей управління через наш онлайн
            фірмовий веб-сайт клієнта або через попередній захід CBD система
            реєстрації, що забезпечує Ваші гості пораховані.
          </p>
        </li>
        <li class="services__item">
          <h4 class="services__subtitle">Планування заходів і виробництво</h4>
          <p class="services__text">
            Це серйозний процес. Наші навчені організатори заходів охоплюють
            кожну дрібницю. Можливості включають: концепт-дизайн, декор та
            переговори щодо місця проведення.
          </p>
        </li>
        <li class="services__item">
          <h4 class="services__subtitle">Декор заходів та квітковий дизайн</h4>
          <p class="services__text">
            Квітковий дизайн, виготовлення бутафорії, освітлення, спеціальна
            постільна білизна і багато іншого делікатно відібрано
            співробітниками нашої команди дизайнерів.
          </p>
        </li>
      </ul>
      <ul class="services__lists">
        <li class="services__item">
          <h4 class="services__subtitle"> Маркетинг і зв’язки з громадскістю</h4>
          <p class="services__text">Усі аспекти маркетингу і зв'язки з громадськістю обробляються Комунікаційне агентство. Ми пропонуємо рішення під ключ до брендингу, реклами продукти та повідомлення.</p>
        </li>
        <li class="services__item">
          <h4 class="services__subtitle">Конс’єрж та протокол</h4>
          <p class="services__text">CBD організовує заходи в деяких із найбезпечніших місць у Вашингтоні, округ Колумбія. Ми є експертами в отриманні дозволів на проведення заходів, допусків безпеки, протокол прибуття гостей і стандарти переговорів.</p>
        </li>
        <li class="services__item">
          <h4 class="services__subtitle">Звук та аудіовізуал</h4>
          <p class="services__text">Звукові та аудіовізуальні вимоги до знятих концертів і виступів спікерів, малих і великих зустрічей. Ми підтримуємо: презентації PowerPoint, вебінари, Skype, цифрові та соціальні медіа.</p>
        </li>
      </ul>
      <ul class="services__roster">
        <li class="services__item">
          <h4 class="services__subtitle">Графічний дизайн та запрошення</h4>
          <p class="services__text">Ми розробляємо офіційні запрошення: високий друк, бавовна, льон та індивідуальні послуги, такі як каліграфія. Ми також продаємо листівки для запрошень своїми руками.</p>
        </li>
        <li class="services__item">
          <h4 class="services__subtitle">Освітлення для особливих подій</h4>
          <p class="services__text">Можливості освітлення спеціальних заходів включають верхнє освітлення, індивідуальне освітлення, освітлені меблі для заходів, освітлення для зйомок та інше спеціальне освітлення.</p>
        </li>
        <li class="services__item">
          <h4 class="services__subtitle">Реєстрація гостей</h4>
          <p class="services__text">Перше враження може викликати ажіотаж або зіпсувати настрій гостю. Процес реєстрації CBD було ретельно розроблено щоб забезпечити легкий процес реєстрації.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
