<section class="opportunities">
    <div class="container opportunities__container">
        <div class="opportunities__box">
            <h2 class="opportunities__title">Послуги та можливості</h2>
            <div class="opportunities__line"><div></div></div>
        </div>
        <div class="opportunities__div">
            <div class="opportunities__yellow-div">
                <picture>
                    <source
                      srcset="
                        ./img/desktop/services-page/services-opportunities@desktop1x.webp 1x,
                        ./img/desktop/services-page/services-opportunities@desktop2x.webp 2x,
                      "
                      media="(min-width: 1360px)"
                    />
                    <source
                    srcset="
                      ./img/tablet/services-page/services-opportunities@tablet1x.webp 1x,
                      ./img/tablet/services-page/services-opportunities@tablet2x.webp 2x,
                    "
                    media="(min-width: 768px)"
                  />
                    <source
                      srcset="
                      ./img/mobile/services-page/services-opportunities@mobile1x.webp 1x,
                      ./img/mobile/services-page/services-opportunities@mobile2x.webp 2x,
                      "
                      media="(min-width: 320px)"
                    />
                    <img src="./img/mobile/services-page/services-opportunities@mobile1x.webp" alt="services opportunities photo" />
                  </picture>
                  <button type="button">Загрузити брошуру</button>
            </div>
            <div class="opportunities__green-div">
                <p>CBD планує заходи у Вашингтоні, округ Колумбія, 
                    на національному рівні в Чикаго, Атланті, 
                    Маямі, Лос-Анджелесі,Лас-Вегас і Нью-Йорк, 
                    на Багамах і для наших міжнародні партнери.<br><br>
                    Наш готовий підхід до 
                    вражаючих подій є другимнікому. 
                    Ми наймаємо графічних дизайнерів, менеджерів
                    з логістики, фахівці зі зв’язків з 
                    громадськістю та мають власний залік
                    і компонент цифрового друку. У нас 
                    є плани поверхіві специфікації майже 
                    на кожному місці, конференц-центріі 
                    приміщення для зустрічей у Вашингтоні, 
                    округ Колумбіяі чудові відносини з нашими
                    сторонніми постачальниками.Ми також 
                    пропонуємо послуги перекладу на іспанську, 
                    португальську, французька та німецька.
                </p>
                <div class="opportunities__green-button"><button type="button">Детальніше</button></div>
            </div>
            <button type="button" class="opportunities__green-btn">Детальніше</button>
            <button type="button" class="opportunities__yellow-btn">Загрузити брошуру</button>
        </div>
    </div>
</section>